.item-container {
  height: 22%;
  max-width: 50%;
  border: 1px black solid;
  
  .item-header {
    text-align: center;
  }

  .phone-number {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  
}